<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" style="font-size: 24px; font-weight: bold">
      Generic IoT Cloud System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generic IoT Cloud System</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      <a target="_self" rel="noopener noreferrer" href="/dispositivos"
        ><strong>DEVICES</strong></a
      >
    </p>
  </div>
</ion-content>
